p 
    |techkids.vn test
p 
.btn.btn-primary(ng-click="submitCourse()") summit  course
.btn.btn-primary(ng-click="onDeleteCourse()") delete  course
.btn.btn-primary(ng-click="onEditCourse()") edit  course
